.content
{
  display: flex;
  justify-content:center;
  flex-direction: column;

}
.form
{
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:24em;
  width:24em;
  background: #004AAD;

}
input
{
  display: flex;
  align-self: center;
  margin:5px;
  height:2em;
  width:20rem;
  margin-bottom:2em;
}
label
{
  color:#fff;
  font-weight:bold;
  font-size:18px;
  text-align: center;

}
h2
{
  color:#004AAD;
  display: flex;
  align-self: center;
}
.submit
{
  transition: 0.5s;
  color:#fff;
  background-color:#38B6FF;
  border: none;
  height:2em;
  width:15em;
  border-radius: 3px;
  font-size:18px;
  margin-top: 2em;
}
.submit:hover
{
  transition:0.5s;
  width:13em;
  background-color:#207cb1;

}
