<div class="content">
  <h2>Ce connecter</h2>
  <form class="form" #form="ngForm"  (submit)="findAccount()">
    <label for="login">Nom de compte utilisateur</label>
    <input type="text" name="login" [(ngModel)]="login" />
    <label for="password" >Mot de passe utilisateur</label>
    <input type="password" name="password" [(ngModel)]="motDePasse" />
    <input type="submit" class="submit"/>
  </form>
</div>
