<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>

<p>gestionnaire works!</p>
<h3>Tableau de bords</h3>
<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/gestionnaire-stagiaires']">Stagiaire</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/gestionnaire-formateurs']">Formateur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/gestionnaire-formations']">Formation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/gestionnaire-modules']">Modules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/gestionnaire-filieres']">Filières</a>
      </li>
    </ul>
  </nav>
  