.header
{
  width: 100vw;
  background-color: #004AAD;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left:-8px;
  margin-top: -8px;
}
.logo
{

  font-size:4rem;
}
.subLogo
{
  font-size: 1rem;
}
.nav
{
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
}

li{
  list-style-type: none;
  cursor: pointer;
}
.auth
{
  margin-right: 3em;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
}

ul.auth li{
padding: 1em;
}
ul.nav li
{
  padding:1em;
  transition: 0.5s;
  border: 1px solid #004AAD;

}
ul.nav li:hover
{
  transition:0.5s;
  background-color: #38B6FF;
  border: 1px solid #fff;
}
ul.auth li
{
  padding:1em;
  transition: 0.5s;
  border: 1px solid #004AAD;
}
ul.auth li:hover
{
  transition:0.5s;
  background-color: #38B6FF;
  border: 1px solid #fff;
}

ul.account li.wrap
{
  padding:1em;
}
.menuTitle
{
  font-size: 1rem;
  width:15em;
}
#wrap {
  width:20em;
  height: 50px;
  margin: 0;
  z-index: 99;
  position: relative;
  background-color: #004AAD;
}
.navbar {
  height: 50px;
  padding: 0;
  margin: 0;
  position: absolute;
}
.navbar li {
  height: auto;
  width:20em;
  float: left;
  text-align: center;
  list-style: none;
  font: normal bold 13px/1em Arial, Verdana, Helvetica;
  padding: 0;
  margin: 0;
  background-color: #004AAD;
}
.navbar a {
  width:20em;
  padding: 18px 0;
  text-decoration: none;
  color: white;
  display: block;
}
.navbar li:hover,
a:hover {
  background-color: #004AAD;
}
.navbar li ul {
  display: none;
  height: auto;
  margin: 0;
  padding: 0;
}
.navbar li:hover ul {
  display: block;
}
.navbar li ul li {
  width: 20em;
  text-align: center;
  background-color: #004AAD;
}

.navbar li ul li a:hover {
  width: 20em;
  background-color: #38B6FF;
}


