

<div class="header">
<ul class="entity">
  <li class="logo font">Formeo</li>
  <li class="subLogo font"> La plateform de gestion de formation</li>
</ul>
<ul class="nav">
  <li [routerLink]="['/formations']">Nos formations</li>
  <li [routerLink]="['/apropos']" >A propos de nous</li>
  <li [routerLink]="['/contact']">Contact</li>
</ul>
<ul class="account" id="account">
  <li id="wrap" *ngIf="auth != null">
    <ul class="navbar">
      <li class="itemList">
        <p class="menuTitle">{{auth.nom}}.{{auth.prenom}} - {{auth.type | lowercase}}</p>

        <ul>
          <li *ngIf="auth.type != 'ADMIN'"><a  routerLink="{{'/'+(auth.type | lowercase)+'/formations'}}">ma formation</a></li>
          <li *ngIf="auth.type != 'ADMIN'"><a routerLink="{{'/'+(auth.type | lowercase)+'/modules'}}">mes modules</a></li>
          <li *ngIf="auth.type === 'ADMIN'"><a routerLink="/tableaudebord" >tableau de bord</a></li>
          <li><a routerLink="/moncompte">mon compte</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<ul class="auth">
  <li *ngIf="auth == null" [routerLink]="['/inscription']" class="signup">Inscription</li>
  <li *ngIf="auth == null" [routerLink]="['/authentification']" class="connexion">connection</li>
  <li *ngIf="auth != null" (click)="handleDisconnect()" class="connexion">Déconnection</li>
</ul>
</div>
<router-outlet></router-outlet>


