
<table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Date d'inscription</th>
        <th>Formation souhaitée</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stagiaire of stagiaires">
        <td>{{ stagiaire.nom }}</td>
        <td>{{ stagiaire.prenom}}</td>
        <td>{{stagiaire.dateInscription}}</td>
        <td>{{formations[0].libelle}}</td>
        <td>
            <label for="libelle">Filières</label>
            <select
            [(ngModel)]="filiere.libelle"
            (change)="handleCustomEvent($event)" 
              class="form-control" 
              name="libelle">
              <option 
                *ngFor="let filiere of filieres" 
                [value]="filiere.libelle">{{ filiere.libelle}}</option>
            </select>
        </td>
        <td>
            <button 
            (click)="onEdit()"
            class="btn btn-primary btn-sm m-1">Valider</button>
        </td>
      </tr>
    </tbody>
  </table>
   