<h1>Accueil</h1>

<div>

    <h3>Avec Formeo la gestion de formation n'a jamais été aussi simple !</h3>

    <p>Créez votre compte de gestion pour votre centre de formation,
        accèdez à votre tableau de bord et créer vos première
        formation !
        Gérez vos formation, modules, formateurs et stagiaires en quelques clics !
        Alors qu'attendez vous pour vous lancer dans l'aventure ?</p>

    <button (click)="btnConnexion()">Me Connecter</button>
    <button (click)="btnInscription()">Inscription</button>
</div>