<<<<<<< HEAD

<div *ngIf="clic == false">
    <!-- <form (submit)="handleSubmit()" action="" #form="ngForm">
        <div class="mb-3">
            <label class="form-label" for="nom">Nom</label>
            <input type="text" #libelle="ngModel" class="form-control" required name="nom" [(ngModel)]="personne.nom">
        </div>
        <div class="mb-3">
            <label class="form-label" for="prenom">Prénom</label>
            <input type="text" #libelle="ngModel"  class="form-control" required name="nom" [(ngModel)]="personne.prenom">
        </div>
        <div class="mb-3">
            <label class="form-label" for="mail">Email</label>
            <input type="email"  class="form-control" required name="mail" ngModel [email]="true" [(ngModel)]="personne.mail">
        </div>
        <div class="mb-3">
            <label class="form-label" for="telephone">N° de téléphone</label>
            <input type="text" class="form-control" required name="telephone" [(ngModel)]="personne.telephone">
        </div>
        <div class="mb-3">
            <label class="form-label" for="dateDeNaissance">Date de naissance</label>
            <input type="date" class="form-control" required name="date_de_naissance" [(ngModel)]="personne.dateDeNaissance">
        </div>
        <div class="mb-3">
            <label class="form-label" for="adresse">Lieu de résidence</label>
            <input type="text" class="form-control" required name="adresse" [(ngModel)]="personne.adresse">
        </div>
        <div class="mb-3">
            <label class="form-label" for="formation_demandee">Formation souhaitée</label> <br>
            <select (change)="handleCustomEvent($event)" required name="formation_demandee" [(ngModel)]="personne.formation_demandee">
                <option value="">Faites votre choix</option>
                <option *ngFor="let formation of formations">{{ formation.libelle }}</option>
            </select>
        </div>
        <span *ngIf="form.invalid">Tous les champs sont obligatoires</span><br>
        <button [disabled]="form.invalid" class="btn btn-primary">Inscription</button>
    </form> -->
</div>

<div *ngIf="clic == true">
    <p>Votre identifiant est : {{ utilisateur.login }}</p>
    <p>Votre mot de passe est : {{ utilisateur.motDepasse }}</p>
    <a href="/authentification" class="btn btn-primary">Connexion</a>
</div>

