.footer
{
  width: 100vw;
  background-color: #004AAD;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.logo
{

  font-size:4rem;
  margin-right: 1em;
}
.subLogo
{
  font-size: 1rem;
}
li
{
  list-style-type: none;
}
.nav
{
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
}

ul.reserved li
{
  padding: 1em;
}
ul.nav li
{
  padding:1em;
}
