

<div class="footer">
  <ul class="reserved">
    <li>Tout droits réservé @Formeo 2022</li>
  </ul>
  <ul class="nav">
    <li>Mention légales</li>
    <li>CGU</li>
  </ul>
  <ul class="entity">
    <li class="logo">Formeo</li>
    <li class="subLogo"> La plateform de gestion de formation</li>
  </ul>
</div>


