<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
<p>gestionnaire-modules works!</p>
<table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>Libellé</th>
        <th>Date de debut</th>
        <th>Date de fin</th>
        <th>Formateur</th>
        <th>Filière</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let module of modules">
        <td>{{ module.libelle }}</td>
        <td>{{ module.dateDebut}}</td>
        <td>{{ module.dateFin}}</td>
        <td >
          <span *ngIf="module.formateur!==null"></span>{{ module.formateur}}</td>
        <td>{{module.filiere.libelle}}</td>
        <td>
          <button 
            (click)="onDelete(module.id)"
            class="btn btn-danger btn-sm">Supprimer</button>
            <button 
            (click)="onEdit(module.id)"
            class="btn btn-primary btn-sm m-1">Modifier</button>
        </td>
      </tr>
    </tbody>
  </table>
            <a 
    [routerLink]="['/modules/modif']"
    class="m-2 btn btn-primary btn-sm">Ajouter un module</a> 