
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<p>gestionnaire-formations works!</p>
<table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>Libellé</th>
       
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let formation of formations">
        <td>{{ formation.libelle }}</td>
        
        <td>
          <button (click)="onDelete(formation.libelle)" class="btn btn-sm btn-danger">Supprimer</button>
          <button (click)="onEdit(formation.libelle)" class="btn btn-sm btn-primary">Modifier</button> 
        </td>
      </tr>
    </tbody>
  </table> 
   <a 
    [routerLink]="['/formations/modif']"
    class="m-2 btn btn-primary btn-sm">Ajouter une formation</a> 
    

