<h1>Menu</h1>

<div>

    <h2>Vos informations personelles</h2>

    <div>

        <form (submit)="handleSubmit()" #f="ngForm">

            <fieldset>
                <legend>Informations de connexion</legend>

                Login : <input type="text" value="{{utilisateur.login}}" name="login" [(ngModel)]="utilisateur.login">
                <br>
                Mot De Passe : <input type="text" value="{{utilisateur.motDepasse}}" name="motDepasse" [(ngModel)]="utilisateur.motDepasse">
                <br>
                <span>Date d'inscription : {{utilisateur.dateInscription | date :'longDate'}}</span>

            </fieldset>

            <fieldset>
                <legend>Informations Personneles</legend>

                Nom : <input type="text" value="{{personne.nom}}" name="nom" [(ngModel)]="personne.nom">
                <br>
                Prenom : <input type="text" value="{{personne.prenom}}" name="prenom" [(ngModel)]="personne.prenom">
                <br>
                Date de naissance : <input type="text"
                    value="{{personne.dateDeNaissance |date }}" name="dateNaissance"[(ngModel)]="personne.dateDeNaissance">
                <br>
                telephone : <input type="text" value="{{personne.telephone}}" name="telephone"[(ngModel)]="personne.telephone">
                <br>
                Mail : <input type="text" value="{{personne.mail}}"name="mail"[(ngModel)]="personne.mail">
                <br>
                Adresse : <input type="text" value="{{personne.adresse}}"name="adresse"[(ngModel)]="personne.adresse">

            </fieldset>
            <button type="reset">Réinitialiser</button>
            <button type="submit">Mettre à jour</button> 

        </form>

    </div>
    <div>

        <span>Vous êtes actuellement {{personne.type | lowercase}}</span>

        <div *ngIf='personne.type == "STAGIAIRE"'>

            <div *ngIf='filiere == null'  >

                <span>Vous n'êtes dans aucune filiere, vous avez demandé la formation : {{personne.formation_demandee}} (en attente)</span>
            </div>

            <div *ngIf='filiere !== null'>
                <span>Vous êtes affecté à la filiere {{filiere[0].libelle}}</span>
                <br>
                <span>Date de debut : {{filiere[0].dateDebut}}</span>
                <br>
                <span>Date de fin : {{filiere[0].dateFin}}</span>
                <br>
                <span>Liste des modules : </span>
                <br>

                <ul>
                    <li *ngFor="let mod of filiere[0].module">{{mod}}</li>

                </ul>

            </div>


        </div>

        <div *ngIf='personne.type == "FORMATEUR"'>

            <span>Mes Modules : </span>

            <ul>
                <li *ngFor="let for of module">{{for.libelle}} - ({{for.dateDebut}} au {{for.dateFin}}) </li>

            </ul>

        </div>

        <div *ngIf='personne.type == "ADMIN"'>

            <span>Liste des formations : </span>
            <ul>
                <li *ngFor="let for of formation">{{for.libelle}}</li>

            </ul>

            <span>Liste des filieres : </span>
            <ul>
                <li *ngFor="let for of filiere">{{for.libelle}}</li>

            </ul>

            <span>Liste des modules : </span>
            <ul>
                <li *ngFor="let for of module">{{for.libelle}} - ({{for.dateDebut}} au {{for.dateFin}}) </li>
                <!-- - Formateur : {{for.formateur.nom}} {{for.formateur.prenom}} (email : {{for.formateur.email}}) -->

            </ul>



        </div>


    </div>

</div>