<p>filieres-modif works!</p>
<h3>{{actionText}} une filière</h3>
 <form (submit)="handleSubmit()" #f="ngForm" >
  <div class="form-group ">
    <label for="libelle">Formation</label>
    <select
    [(ngModel)]="formation.libelle"
    (change)="handleCustomEvent($event)" 
      class="form-control" 
      name="libelle">
      <option 
        *ngFor="let formation of formations" 
        [value]="formation.libelle">{{ formation.libelle}}</option>
    </select>
  </div> 
   <div class="form-group ">
     <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Date d'inscription</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stagiaire of stagiaires">
          <td>{{ stagiaire.nom}}</td>
          <td>{{ stagiaire.prenom}}</td>
          <td>
            
          </td>
          <td>
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="">
            </label>
          </td>
        </tr>
      </tbody>
    </table>  
    
  </div> 
  <button 
    [disabled]="f.invalid"
    class="btn btn-primary btn-sm">{{actionText}}</button>
</form> 