<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<p>gestionnaire-filieres works!</p>

<table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>Libellé</th>
        <th>Nb de modules</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let filiere of filieres">
        <td>{{ filiere.libelle }}</td>
        <td>
          {{filiere.modules?.length}}
        </td>
        <td>
          <button (click)="onDelete(filiere.id)" class="btn btn-sm btn-danger">Supprimer</button>
          <button (click)="onEdit(filiere.id)" class="btn btn-sm btn-primary ">Modifier</button>
        </td>
      </tr>
    </tbody>
  </table> 
 
  <a 
  [routerLink]="['/filieres/modif']"
  class="m-2 btn btn-primary btn-sm">Ajouter une filière</a>
  
  
