
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<p>formations-modif works!</p>
<h3>{{actionText}} une formation</h3>
<form (submit)="handleSubmit()" #f="ngForm" class="form-inline m-auto">
  <div class="form-group">
    <label for="libelle" class="form-control">Libellé</label>
    <input 
      [(ngModel)]="formation.libelle"
      required
      minlength="4"
      placeholder="Nom de la formation"
      name="libelle" 
      type="text" 
      class="form-control" />
  </div>
  <button 
    [disabled]="f.invalid"
    class="btn btn-primary btn-sm">{{actionText}}</button>
</form>